<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288408050050-rs5u3ov14p543m0gki059dst2d6k10gm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288408050050-rs5u3ov14p543m0gki059dst2d6k10gm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>288408050050-n77iicsig2n485uoj2nvthqmnb68krl1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCd4LJki69NfhytU0FL3UuM7ye7UWr4WI</string>
	<key>GCM_SENDER_ID</key>
	<string>288408050050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs21sw708.smartphoneapp</string>
	<key>PROJECT_ID</key>
	<string>bee-a-helper</string>
	<key>STORAGE_BUCKET</key>
	<string>bee-a-helper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288408050050:ios:5e0878466fbb5ac2e6579b</string>
</dict>
</plist>